* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
}

.vertical-menu {
    list-style-type: none;
    border-top: 1px solid #666;
    border-left: 1px solid #666;
    -webkit-padding-start: 0;
    -moz-padding-start: 0;
    width: 200px;
    background-color: #ccc;
}

.vertical-menu .menu-item {
    border-right: 1px solid #666;
    border-bottom: 1px solid #666;
}
.vertical-menu .menu-item a {
  font: 24px Arial, Verdana;
  text-transform: uppercase;
  color: #333;
  text-decoration: none;
  display: block;
  padding: 5px 0px 5px 40px;
  position: relative;
}
.vertical-menu .menu-item a::before {
  content: ' ';
  height: 7px;
  width: 7px;
  background-color: #333;
  position: absolute;
  left: 25px;
  top: 15px;
}

.vertical-menu .menu-item-active a {
  color: #0000ff;
}

.vertical-menu .menu-item-active a::before {
  background-color: #0000ff;
}

.vertical-menu .menu-item:hover {
  background-color: #00ff00;
}
.vertical-menu .menu-item:last-child {
  background-color: #ff0000;
}
