body {
  color: #0982c1;
  border: 1px dotted #0982c1;
  max-width: 1024px;
}
ul.main {
  /*<ul class="main">*/
  -webkit-padding-start: 15px;
  -moz-padding-start: 15px;
  padding-start: 15px;
  margin: 5px;
}
ul.sub-menu {
  /*<ul class="sub-menu">*/
  -webkit-padding-start: 10px;
  -moz-padding-start: 10px;
  padding-start: 10px;
  margin: 10px;
}
footer.table {
  background: #ff0000;
  color: #3f3f3f;
  font-size: 16px;
}
footer.main {
  background: #00ff00;
  color: #aaaaaa;
  font-size: 16px;
}
.main-menu {
  list-style-type: none;
}
.main-menu .item {
  font-size: 24px;
}
.main-menu .item.active a {
  color: green;
}
.main-menu .item a {
  color: red;
}
.main-menu .item a:hover {
  color: blue;
}
