@import "variable.less";

@import "body.less";

.padding-start(@value:15px, @margin) {
  -webkit-padding-start: @value;
     -moz-padding-start: @value;
          padding-start: @value;
          margin: @margin;
}

ul.main { /*<ul class="main">*/
  .padding-start();
}

ul.sub-menu { /*<ul class="sub-menu">*/
  .padding-start(10px, 10px);
}

.footer() {

}

footer.table {
  .footer();
}

footer.main {
  .footer();
}
